.wrapper {

    padding: 10px;
    vertical-align: top;

}

.leftBlock {
    margin-top: 10px;
    background-color:yellow ;
    display: inline-block;
    vertical-align: top;

}

.rightBlock {
    margin-top: 10px;
    background-color:green ;
    display: inline-block;
    vertical-align: top;
}

.avatar img {
    width: 50px;
}

.preloader_container {
    width: 120px;
    height: 25px;
    margin-left:10px ;

}

.preloader_container img {
    margin: 0 auto;

}

.list {
    height: 100vh;
    padding: 10px;
}

.list .listItem {
    border-bottom: 1px solid lavenderblush;
    text-align: left;
    margin: 5px 0;
    display: flex;
    align-items: center;

}

.list .listItem .content,.status {
    padding: 10px;
    text-decoration: none;
    color: darksalmon;
}


.list .listItem .status {
    font-size: 12px;
}

.list .listItem img{
    height: 40px;
    border: 1px outset wheat;
    border-radius: 50%;
}

.noScroll::-webkit-scrollbar {
    display: none;

}