.preloader_container {
    width: 120px;
    height: 25px;
    margin-left:10px ;
}
.preloader_container img {
    margin: 0 auto;
}
.users__container{
    display: flex;
    align-items: stretch;
    height: 100%;
    justify-content: center;
}
.list {
    margin-top: 20px;
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px 5px;
    min-height: 80vh;
}
.list .listItem__container{

}
.list .listItem {
    height: 85px;
    border: 1px solid rgba(161, 138, 138, 0.5);
    border-radius: 12px;
    margin: 0px 20px 12px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 6px 5px -5px rgba(235, 0, 39, 0.32);
    text-decoration: none;
    font-size: 22px;
    color: whitesmoke;
    transition: 0.4s;
}
.list .listItem:hover {
    border: 1px solid rgba(165, 143, 143, 0.7);
    box-shadow: 5px 6px 8px -5px rgba(235, 0, 39, 0.62);
    color: whitesmoke;
    background-color: rgba(115, 115, 115, 1);
}
.content__container{

}
.list .listItem .content,.status {
    padding-left: 20px;
    text-decoration: none;
}
.list .listItem .content {
    color:whitesmoke;
    font-weight: bold;
}
.list .listItem .status {
    font-size: 12px;
    color:#cf6161
}
.list .listItem .ava{
    width: 50px;
    margin-left: 20px;
}

.ava img{
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid #cf8f8f;
    display: block;
}

.noScroll::-webkit-scrollbar {
    display: none;

}