.listItem__container{
    cursor: pointer;
}
.listItem {
    height: 85px;
    border: 1px solid rgba(161, 138, 138, 0.5);
    border-radius: 12px;
    margin: 0px 20px 12px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 6px 5px -5px rgba(235, 0, 39, 0.32);
    text-decoration: none;
    font-size: 22px;
    color: rgba(20, 19, 19,0.9);
    transition: 0.4s;
}
.listItem:hover {
    border: 1px solid rgba(165, 143, 143, 0.7);
    box-shadow: 5px 6px 8px -5px rgba(235, 0, 39, 0.62);
    background-color: rgba(235, 235, 235, 1);
}
.content__container{

}
.listItem .content,.status {
    padding-left: 20px;
    text-decoration: none;
}
.listItem .content {
    font-weight: bold;
}
.listItem .status {
    font-size: 12px;
    color:#cf6161
}
.listItem .ava{
    width: 50px;
    margin-left: 20px;
}

.ava img{
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid #cf8f8f;
    display: block;
}