
.header {
  grid-area: header;
  background-color: darkslategrey;
  padding: 5px;
}

.header img {
  width: 45px;
}

.header .loginBlock{
  float:right;
}

.header .loginBlock a{
  color: whitesmoke;
}