.header {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 50;
    background-color: #f54949;
    color: whitesmoke;
    min-height: 60px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}
.header:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #f54949;
    z-index: 2;
}
.header .container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 10px;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.header__menu{
}
.header__burger{
    display: none;
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
    padding: 0;
}
.header__list li {
    list-style: none;
    margin-left: 20px;
}
.header__link {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
.header__link:hover {
    color: rgba(33,27,25,0.97);
    text-shadow: 1px 1px 3px whitesmoke;
    transition: 0.4s;
}

@media (max-width: 767px) {
    .header__body {
        height: 50px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: whitesmoke;
        width: 100%;
        height: 2px;
        left: 0px;
        top: 9px;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: whitesmoke;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
    }
    .header__burger:before {
        top:0px;
        transition: all 0.2s ease 0s;
    }
    .header__burger:after {
        bottom: 0px;
        transition: all 0.2s ease 0s;
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top:9px;
        transition: all 0.2s ease 0s;

    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom:9px;
        transition: all 0.2s ease 0s;

    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: 0px;
        left: -100%;
        width: 30%;
        height: 100%;
        background-color: rgba(235, 235, 235,1);
        padding: 60px 10px 20px 10px;
        transition: all 0.6s ease 0s;
    }
    .header__menu.active {
        left:0px;
        transition: all 0.3s ease 0s;
        opacity: 0.92;
    }
    .header__list {
        display: block;
        padding: 0px ;

    }
    .header__list li {
        margin: 0px 0px 5px 0px;
        padding: 10px 0px;
        color: rgba(20, 19, 19,0.9);
        font-weight: bold;
    }
    .header__link:hover {
        color: #f54949;
        text-shadow: 1px 1px 2px rgba(245, 73, 105,0.9);;
        transition: 0.4s;
    }
}
.header__auth {
    padding: 3px 5px 3px 0px;
    z-index: 3;
}
.header__auth__info {
    display: flex;
    align-items: center;

}
.header__auth__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}
.header__auth__content a{
    color:whitesmoke;
    text-decoration: none;
}
.header__auth__name {
    font-size: 18px;
    font-weight: bold;
}
.header__auth__ava {
    width: 45px;
}
.header__auth__ava img {
    max-width: 100%;
    border-radius: 50%;
    display: block;
}
.header__auth__logout {
    color: gainsboro;
    font-size: 14px;
    cursor: pointer;
}
.header__auth__login {
    margin-right: 30px;

}
.header__auth__login a {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}

