.formControls div {
    display: inline-block;

}
.formControls textarea,
.formControls input
{
    border: #d63a51 solid 2px;
}
.formControls span {
    margin-left: 5px;
    color: #d63a51;
    font-size: 18px;
}
.formControls__error_text {
    border: 1px red solid;
}

.error {
    padding: 5px 5px 15px 0px;
    color: #d63a51;
}

.field {
    display: inline-block;


}