.formControls {

}

.formControls textarea,
.formControls input
{
    border: firebrick outset 2px;
}

.formControls span {
    color: firebrick;
    font-size: 18px;
}

.error {
    padding: 5px;
    border: red outset 2px;
}