.description {
     padding: 10px 10px 10px 30px;
    color: whitesmoke;
 }
.description img{
    margin: 0;
}
.formWrapper input,textarea{
    border: 1px outset cornflowerblue;
    border-radius: 5px;
    vertical-align:middle
}
.titleData {
    min-width: 170px;
    display: inline-block;
}