.user__profile {
    color: rgba(20, 19, 19,0.9);
}

.user__profile__title{
    padding: 15px 15px  0 15px;
    display: flex;
    justify-content: space-between;
}
.user__profile__name{
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 12px;

}
.user__profile__settings__btn{
    display: flex;
    justify-content: center;

}
.user__profile__settings__btn img{
    align-self: center;
    width: 20px;
    cursor: pointer;

}
.user__profile__status__container{
    padding-left: 15px;
    height: 25px;
    display: flex;
    align-items: center;
}
.user__profile__status{
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user__profile__status__edit{

    padding-left: 10px;
}
.user__profile__status__edit img{
    width: 15px;
    cursor: pointer;
}
.input_status {
    min-width: 250px;
    max-width: 500px;
    font-size: 16px;
    color: rgba(20, 19, 19,0.9);
}
.saved_status {
    font-size: 16px;
    padding: 4px 0;
}
.user__profile__container {
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.user__profile__photo__block {
    width: 250px;
    border-radius: 5px;
    margin-right: 10px;
}
.user__profile__photo {
    width: 100%;
    overflow: hidden;

}
.user__profile__photo img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;

}
.input__file{
    top: -15px;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input__file + label{

    cursor: pointer;
    transition: 0.4s;
    padding: 10px 20px;
    color: rgba(20, 19, 19,0.9);
    font-weight: bold;
}
.input__file:focus + label,
.input__file + label:hover {
    color: #f54949;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0,0.6);*/
    text-decoration: underline;
}
@media (max-width: 480px) {
    .user__profile__container{
        flex-wrap: wrap;
    }
}


