.form__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: rgba(20, 19, 19,0.9)
}
.form {
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px black;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.form__field input,
.form__button {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}
.form__title{
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: bold;

}
.form__group{
    position: relative;
    margin-bottom:32px ;
}
.form__label {
    position: absolute;
    top: 4px;
    left: 2px;
    color:#ffdee2;

    transition: 0.3s;
}
.form__field input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #2b2323;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}
.form__field input:focus {
    /*border-bottom: 1px solid #ffebeb;*/
}
.form__button {
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid rgba(20, 19, 19,0.9);
    border-radius: 5px;
    color: rgba(20, 19, 19,0.9);
    font-weight: bold;
    background-color: ghostwhite;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}
.form__button:focus,
.form__button:hover {
    border: 2px solid #f54949;
    background-color: #f54949;

}
.form__field input::-webkit-input-placeholder { color: rgba(33,27,25,0.52); }

