.app {
  background-color: lavender;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
}
.app__header{
  flex: 0 0 60px;
}
.app__content {
  background-color: ghostwhite;
  flex: 1 1 auto;
}
.app__content__container{
  min-height: 100%;
  max-width: 1180px;
  min-width: 300px;
  margin: 0 auto;
}









