.app-wrapper {
  margin:0 auto;
  display: grid;
  width:1360px;

  grid-template-rows:60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  grid-template-areas: 
  "header header"
  "navbar content"
}

.app-wrapper-content {
  grid-area: content;
  background-color: burlywood;
  padding: 20px;
}  







