.app {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}
.app__content {
  background-color: dimgrey;
  padding: 60px 0px 0px 0px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.app__content__container{
  height: 100%;
  flex-basis: 1180px;
  min-width: 300px;
}









