.app {
  background-color: lavender;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
  color: rgba(20, 19, 19,0.9);
}
.app__header{
  flex: 0 0 60px;
}
.app__content {
  background-color: ghostwhite;
  flex: 1 1 auto;
}
.app__content__container{
  min-height: 100%;
  max-width: 1180px;
  min-width: 300px;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .app__content__container {
    max-width: 980px;
  }
}
@media (max-width: 1099px) {
  .app__content__container {
    max-width: 780px;
  }
}
@media (max-width: 899px) {
  .app__content__container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .app__content__container {
    max-width: 90%;
  }
}









