.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;


}

.dialogsBar {



}

.dialogWith a{

  text-decoration: none;
  color: papayawhip;

}

.right {
  text-align: right;
  margin-top: 10px;
}

.right textarea,.right button {
  display: block;
}



.messages {

}

.messageContent {

}