.dialogs_container {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.dialogs{
  overflow-y: auto;
  flex-grow: 1;
  border-right: 1px solid black;
  padding: 10px 5px;
  max-height: 70vh;
}
.messages__container{
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.messages{
  overflow-y: auto;
  padding: 10px 5px;
  max-height: 70vh;
  margin: 10px ;
}
.message__container{
  max-width: 400px;
  flex-basis: 240px;
  background-color: #cf8f8f;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.message__form {


}
.dialogWith {
  text-align: center;
  height: 30px;
  border-bottom: 1px solid wheat;

}
.dialogWith a{
   text-decoration: none;
   color: black;
 }